@import '../../variables.scss';

.header {
  background-color: $header-background;
  height: 100%;
  display: flex;
  justify-content: space-between;
  .logo {
    display: flex;
    > div {
      margin: auto;
      display: flex;
      margin-left: 10px;
      i {
        font-size: 40px;
      }
      > span {
        margin: auto;
        margin-left: 5px;
        font-size: 16px;
      }
    }
  }
  .actions {
    display: flex;
    margin-right:5px;
    i {
      margin: auto;
      font-size: 30px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width:#{$mobile-screen-threshold}) {
  /* For mobile phones: */
  .header {
    padding: 0;
  }
}
