
<div class="login-container">
    <form class="form" [formGroup]="loginForm" novalidate>
        <label>Login</label>
        <div class="form-row">
            <i class="far fa-user"></i>
            <input placeholder="username" formControlName="username"/>
        </div>
        <div class="form-row">
            <i class="fas fa-key"></i>
            <input placeholder="password" type="password" formControlName="password"/>
        </div>
        <button type="button" [disabled]="loginForm.invalid" (click)="login()">Login</button>
        <a routerLink="/register">Don't have an account? Register!</a>
        <div class="err-msg">
            <span>{{error}}</span>
        </div>
    </form>
</div>