$white: #fff;
$light-grey: #fafafa;
$dark-grey: #d1d1d1;
$main-blue: #00adb5;
$error-red: #f44242;

$boxshadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$header-height: 50px;
$header-background: $white;

$content-background: $light-grey;

$mobile-screen-threshold :620px;