<div class="login-container">
    <form class="form">
        <label>Register</label>
        <div class="form-row">
            <i class="far fa-user"></i><input placeholder="username" />
        </div>
        <div class="form-row">
            <i class="fas fa-key"></i><input placeholder="password" />
        </div>
        <div class="form-row">
            <i class="fas fa-key"></i><input placeholder="confirm password" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>